<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >
    <script type="text/javascript" src={% static "python_editor/js/jquery-3.2.1.min.js" %}></script>
   
    
    <title>Run Python</title>
  </head>
  <body style="background-color:aliceblue">
   <div class="container-fluid" style="height:100%">    
    <button type="button" class="btn btn-success flow-left mt-5"   id="run_python_script">Run Script</button>
       <div class="row mt-2">
           <!--First Column-->
           <div class="col-sm-6 border">
            
            <div class="form-group">               
                <textarea class="form-control" id="script_text_area" rows="20">print("Hello")</textarea>
              </div>

           </div>
           <!--second column-->
           <div class="col-sm-6 iframe_container border">
            <div class="form-group" >            
            <textarea class="form-control" id="script_result" rows="20" readonly="readonly" style="background-color: black;color: white;"></textarea>
            </div>
           </div>
       </div>
   </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script>
        $(document).on("click",'#run_python_script',function(e)
            {
                let txt = $('#script_text_area').val();                
                console.log(txt);
                $.ajax({
                        url: "{% url 'result' %}",
                        type:"POST",
                        data: {
                        'script':txt,          
                        csrfmiddlewaretoken:'{{ csrf_token }}' ,
                        },
                        dataType: 'json',
                        success: function (data) {
                            console.log(data);          
                            $("#script_result").val(data["output"])  ;
                        },
                        error: function(data) {
                                console.log("error");
                                console.log(data);
                            }
                    });
            });
    </script>  
</body>
</html>